<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .body{
            background-color: gray;
        }
        .link-inicio{
            color: white;
            background-color: darkgreen;
            border-radius: 8px;
            margin: 10px;
            text-align: center;
        }
        
    </style>

    <title>Blog de Chotas</title>
</head>
<body class="body">
    <a href="{% url 'blog-home' %}"> <!-- Puedo ponerlo aqui, o en el post list despues del block, display: inline-block --> 
        <h1 class="link-inicio">Blog Nov de Weyes</h1> 
    </a> 
   
    <form method="post" action="{% url 'logout' %}"> 

        {% csrf_token %} 
        <input type="submit" value="Cerrar Sesion"> 

    </form> 

    {% block content %} 
    {% endblock content %}
</body>
</html>