<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.authenticated %}
        <p>Hola {{ user.username }}</p> <!-- user.username es el nombre del usuario que entra :v -->
        <p>Ingresa para ver tus publicaciones</p>
        <a href="{% url 'home' %}"> Area 51 Marketplace </a>

    {% else %}
        <p>Crea tu cuenta</p>
        <a href="{% url 'login' %}"> Iniciar Sesion</a>
        <a href="{% url 'signup' %}"> Registrarse</a>

    {% endif %}

</body>
</html>